@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    /* padding: 0; */
}
html{
    font-size: 10px;
     color: #000000 ;
    font-family:  'Playfair Display', serif;
}
a{
    text-decoration: none;
} 
li{
    list-style: none;
}
header{ 
     /* background-color: #ffffff;  */
     /* background-color: #bdbaba9b; */
     background-color: #000000;
    height: 6rem;
    /* display: inline;
    width: 100rem; */
}

header .container{
    display:flex;
    justify-content:space-between; 
    width: 90%;
    height: 100%;
    margin: auto; 
}
header .logo{
   height: 60px; 
   display: flex;
   align-self: center;
   font-size: 3rem; 
   /* font-style: italic; */
    padding:1rem 1.5rem 2rem 1.5rem ;
   font-weight: 700; 
    /* color: #000000;  */
    color: #ffffff;
    /* color: #000000; */
}
header .logo:hover{
    cursor: pointer;
}
header nav ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
header nav ul li{
    padding: 0 2rem;
    font-size: 1.8rem;
    font-weight: 400;
     /* color: #000000;  */
     color: #ffffff;
}
header nav ul li a{
    /* color:#000000;  */
    color: #ffffff;
    padding: 1rem;
    border-radius: 20px;
}
header nav ul li a:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
} 
.container{
    height: 95vh;
}
section.banner{
    display: flex;
    margin:30px 20px;
    padding-left: 30px;
    font-size: 3rem;
    /* font-size: 400; */
    font-weight: 300;
}
.template{
    display: flex;
    justify-content: space-evenly;
    margin:6rem;
}
.template .temp1{
    /* background-size: cover; */
    width:17rem;
    opacity: 0.5;
    height: 21rem;
    margin: 1rem;
    padding: 1rem;
}

.template .temp1:hover{
    cursor: pointer;
    transform: scale(105%,105%);
    

}
.template .temp2{
    width:17rem;
    opacity: 0.5;
    height: 21rem;
    margin:1rem;
    padding: 1rem;
}


.template .temp2:hover{
    cursor: pointer;
    transform: scale(105%,105%);

}
.template .temp3{
    width:17rem;
    opacity: 0.5;
    height: 21rem;
    margin:1rem;
    padding: 1rem;
}

.template .temp3:hover{
    cursor: pointer;
    transform: scale(105%,105%);
}
.template .temp4{
    width:17rem;
    opacity: 0.5;
    height: 21rem;
    margin:1rem;
    padding: 1rem;
}
.template .temp4:hover{
    cursor: pointer;
    transform: scale(105%,105%);
}