.container{
    /* display: none; */
}
.myimg{
    border-radius: 50%;
    width: 130px;
}
.background{
    background-color: beige;
}
#skills{
    display:flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content:space-between;
}
.skill{
    margin-left: 10px;
    margin-right: 10px;

}
#header{
    background-color: beige;
}